<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= spell.attributes.name %> - Spell</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="css/output.css">
    <style>
        .font-harrypotter {
    font-family: "Cinzel", serif !important;
}
.font-body{
    font-family: "Geist", "sans-serif";
}
    </style>
</head>
<body class="bg-gray-900 text-white flex justify-center items-center min-h-screen p-4 ">
<!-- Spell Info -->

    <div class="container max-w-md sm:max-w-lg bg-gray-800 p-6 rounded-lg shadow-lg text-center">
        <!-- Spell Name -->
        <h1 class="text-3xl  font-bold text-gray-200 border-b border-gray-700 pb-3 font-harrypotter"><%= spell.attributes.name %></h1>

        <!-- Spell Image -->
        <img class="w-40 h-40 rounded-lg mx-auto mt-4 shadow-md" 
            src="<%= spell.attributes.image ? spell.attributes.image : '/images/missing.png' %>" 
            alt="<%= spell.attributes.name %>">

        <!-- Character Info -->
        <div class="mt-4 text-gray-300 space-y-2 text-lg font-harrypotter">
            <p><strong class="text-gray-100 font-body">Slug:</strong> <%= spell.attributes.slug || 'Unknown' %></p>
            <p><strong class="text-gray-100 font-body">Effect:</strong> <%= spell.attributes.effect || 'Unknown' %></p>
            <p><strong class="text-gray-100 font-body">Cathegory:</strong> <%= spell.attributes.cathegory || 'Unknown' %></p>
            <p><strong class="text-gray-100 font-body">Ligh:</strong> <%= spell.attributes.light || 'Unknown' %></p>
            <p><strong class="text-gray-100 font-body">Hand:</strong> <%=spell.attributes.hand || 'Unknown' %></p>
        </div>

        <!-- Back Button -->
        <a href="/spell" class="inline-block mt-5 px-4 py-2 font-semibold text-white bg-yellow-500 hover:bg-yellow-600 rounded-lg shadow-md transition duration-300 font-harrypotter">
          Back to All Characters
        </a>
    </div>

</body>
</html>